.contents.row
  %a.view{:href => "/"} 一覧にもどる
= form_tag("/#{@article.id}", method: :patch, class:"text") do
  %h3
    編集
  %p 
    タイトル
    %input{:name => "title", :placeholder => "タイトル", :type => "text", :value => "#{@article.title}"}/
    -# .select-wrap
    -#   = f.select :prefectures, Article.prefectures.keys, {}, {class: 'select-default'}
  %p
    - if @article.image?
      = image_tag @article.image.url
  %textarea{:cols => "50", :name => "content", :placeholder => "記事を編集してください", :rows => "10"}= @article.content
  %p.btn
    %input{:type => "submit", :value => "投稿"}/