.contents.row
  %a{href: "/"} 一覧にもどる
  = form_with(url: " /blogs/:id",model: @article, local: true, method: :patch) do |f|
    %h3
      編集する
    = f.text_field :title ,value: @article.title
    - if @article.image?
      = image_tag @article.image.url
    - else
    = image_tag("/")
    = f.file_field :image
    = f.text_area :content ,value: @article.content
    = f.submit '投稿', class: 'btn btn-primary'