.contents.row
  %a{:href => "/"} 一覧にもどる
    = form_for(@article) do |f|
    = image_tag @article.image
    = f.file_field :image
    = f.submit 'プロフィール編集を完了する', class: 'btn btn-primary'
  = form_tag("/#{@article.id}", method: :patch) do
    %h3
      編集する
    %p
      %input{:name => "title", :placeholder => "タイトル", :type => "text", :value => "#{@article.title}"}/
    %p
      %input{:name => "image", :placeholder => "Image Url", :type => "text", :value => "#{@article.image}"}/
    %textarea{:cols => "50", :name => "content", :placeholder => "記事を編集してください", :rows => "10"}= @article.content
    %p
      %input{:type => "submit", :value => "投稿"}/
